---
---

@import '{{ site.theme }}';

@media print {
  header,
  .site-footer-owner,
  [id^=kofi-widget-overlay] {
    display: none;
  }
}

.main-content {
  table {
    page-break-inside: auto;

    p {
      margin: 0;
    }
  }

  .thms,
  .defs {
    ol {
      list-style: lower-roman;
    }

    ul,
    ol {
      text-align: left;
      display: inline-block;
      margin: 0 1.25rem;
      padding: 0;
    }

    mjx-container[jax='CHTML'][display='true'] {
      margin: 0;
      text-align: inherit;
    }

    tr > *:nth-of-type(2):not(.stmt) {
      text-align: right;
    }
  }

  .defs {
    tr > *:nth-of-type(3) {
      text-align: left;
    }
  }

  .thms {
    tr > *:nth-of-type(2) {
      border-right: 0;
      padding-right: 0;

      ol,
      ul {
        margin-right: 0;
      }
    }

    tr > *:nth-of-type(3) {
      text-align: right;
      border-left: 0;
      border-right: 0;
      padding-left: 0;
      padding-right: 0;
    }

    tr > *:nth-of-type(4) {
      text-align: left;
      border-left: 0;
      padding-left: 0;
    }
  }
}

.derivations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  video {
    margin: 1rem;
  }
}

tr {
  page-break-inside: avoid;
  page-break-after: auto;
}
h1 {
  page-break-after: avoid;
}
